<!DOCTYPE html>
	<html lang="es" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--ROBOTO E ICONOS MATERIAL-->
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">  

  <!-- Load required Bootstrap and BootstrapVue CSS -->
  <!-- <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css"> -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@0.23.1/dist/bootstrap-vue.css" />

  <!--VUETIFY CSS-->
  <link href="https://unpkg.com/vuetify@1.0.19/dist/vuetify.min.css" rel="stylesheet">

  <!--PONCHO ICONOS Y CSS-->
  <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="poncho/css/poncho.min.css" rel="stylesheet">
  <link href="poncho/css/icono-arg.css" rel="stylesheet">

  <!--CUSTOM-->
  <link href="css/custom.css" rel="stylesheet">
  

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="alta_contratos">
    <v-app>
      <v-stepper v-model="alta_contratos_model" class="no-shadow border-0">
        <v-stepper-header>
          <v-stepper-step :complete="alta_contratos_model > 1" step="1">Tipo</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="alta_contratos_model > 2" step="2">Partes y plazos</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="alta_contratos_model > 3" step="3">Tasas y penalidades</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="4">Documentación y guardado</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card color="white">
             <v-container grid-list-md>
              <v-layout row wrap justify-center text-xs-left class="contenido-form">
                <v-flex xs12>
                  <div>
                    <h3 class="text-gray"><span class="text-primary font-weight-light"> 1 | </span>Tipo</h3>
                  </div>                   
                </v-flex>        
                <v-flex xs12 md8>
                  <div>                    
                    <v-select  v-model="select" :items="tipo_contratos_items" label="Seleccione el contrato"></v-select>
                  </div>
                </v-flex>          
              </v-layout>
             </v-container>              
            </v-card>            
            <v-layout justify-space-between class=" pt-2 px-0">
              <div>                
                <v-btn flat class="pa-0 mx-auto" @click.native="alta_contratos_model = 1"><i class="fa fa-times mr-1 fa-1x"></i>Cancelar</v-btn>  
              </div>
              <div>
                <v-btn color="primary" class="btn pa-0" @click.native="alta_contratos_model = 2"><i class="fa fa-angle-right mr-1"></i>Continuar al paso 2</v-btn>
              </div> 
            </v-layout>        
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-card color="white">
              <div class="contenido-form">                
                <h3 class="text-gray"><span class="text-primary font-weight-light"> 2 | </span>Partes y plazos</h3>
              </div>
            </v-card>
            <v-layout justify-space-between class=" pt-2 px-0">
              <div>                
                <v-btn flat class="pa-0 mx-auto" @click.native="alta_contratos_model = 1"><i class="fa fa-times mr-1 fa-1x"></i>Cancelar</v-btn>  
              </div>
              <div>
                <v-btn flat class="text-primary pa-0" @click.native="alta_contratos_model = 1"><i class="fa fa-angle-left mr-1"></i>paso 1</v-btn>  
                <v-btn color="primary" class="btn pa-0" @click.native="alta_contratos_model = 3"><i class="fa fa-angle-right mr-1"></i>Continuar al paso 3</v-btn>
              </div> 
            </v-layout>         
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-card color="white">
              <div class="contenido-form">
                <h3 class="text-gray"><span class="text-primary font-weight-light"> 3 | </span>Tasas y penalidades</h3>
              </div>              
            </v-card>            
            <v-layout justify-space-between class=" pt-2 px-0">
              <div>                
                <v-btn flat class="pa-0 mx-auto" @click.native="alta_contratos_model = 1"><i class="fa fa-times mr-1 fa-1x"></i>Cancelar</v-btn>  
              </div>
              <div>
                <v-btn flat class="text-primary pa-0" @click.native="alta_contratos_model = 2"><i class="fa fa-angle-left mr-1"></i>paso 2</v-btn>  
                <v-btn color="primary" class="btn pa-0" @click.native="alta_contratos_model = 4"><i class="fa fa-angle-right mr-1"></i>Continuar al paso 4</v-btn>
              </div> 
            </v-layout>               
          </v-stepper-content>
          <v-stepper-content step="4">
            <v-card color="white">
              <div class="contenido-form">
                <h3 class="text-gray"><span class="text-primary font-weight-light"> 4 | </span>Documentación y guardado</h3>
              </div>              
            </v-card>            
            <v-layout justify-space-between class=" pt-2 px-0">
              <div>                
                <v-btn flat class="pa-0 mx-auto" @click.native="alta_contratos_model = 1"><i class="fa fa-times mr-1 fa-1x"></i>Cancelar</v-btn>  
              </div>
              <div>
                <v-btn flat class="text-primary pa-0" @click.native="alta_contratos_model = 3"><i class="fa fa-angle-left mr-1"></i>paso 3</v-btn>  
                <v-btn color="success" class="btn pa-0" @click.native="alta_contratos_model = 1"><i class="fa fa-check mr-1"></i>Guardar y finalizar</v-btn>
              </div> 
            </v-layout>        
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-app>
  </div>
  
<!-- Load polyfills to support older browsers -->
<script src="htpps://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/bootstrap-vue@0.23.1/dist/bootstrap-vue.min.js"></script>

<!-- VUETIFY JS -->
<script src="https://unpkg.com/vuetify@1.0.19/dist/vuetify.min.js"></script>

<!-- CUSTOM JS -->
<script src="js/custom.js"></script>
</body>
</html>